#calender_frm {
	display:inline-block;
	position:relative;
	left:52%;
	padding-top: 0.2rem;
}

.list_table_entry{
	float:left;
	width:100%;
	border-top:2px solid #333;
}

.list_table_entry th, .list_table_entry td{
	padding:15px 0;
	text-align:center;
	border-bottom:1px solid #ddd;
	font-size:14px;
}

.list_table_entry th{
	background:#DAE3F3;
	border-bottom:1px solid #333;
	font-weight:550;
	font-size:1rem;
}