.list_title {
	float:left;
	width:100%;
	margin-top: 50px;
	margin-left: 30px;
	text-align:left;
}

.input_box {
	float:left;
	width: 30rem;
	margin-left : 20px;
}

.employee_btn_area {
	float:right;
	margin-top: 15px;
	margin-right: 10%;
}