.remain_num {
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: black 4px; 
	background-color: #5C8EFF;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	float: right;
}

.picture {
	width: 22rem;
	height: 12rem;
	float: left;
	margin-left: 75px;
	margin-top : 50px;
	margin-right: 40px;
	background-color: #DAE3F3;
}

.input_box {
	width: 20rem;
	margin-left : 20px;
	margin-top : 20px;
}

.list_title {
	width:100%;
	margin-top: 55px;
	margin-left: 60px;
	text-align:left;
}

.warehouse_register_button{
	float:left;
	margin: 50px 0 0 375px;
	text-align:center;
}